.container {
    background-color: rgb(255, 255, 255);
    width: 60%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 2fr 2fr;
    
}
.content h3{font-size: xx-large;
font-family:Arial,;}
.content .customization {
    display: grid;
    grid-template-columns: 10fr 7fr;
}
#paragraph{font-family: Arial, ;
color: lightslategray;}

.color button {
    border: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
   
}

.black {
    background-color: rgb(219, 207, 37);
}
.gray {
    background-color: rgb(160, 157, 158);
}
.pink {
    background-color: rgb(226, 160, 212);
}

.image img {
    width: 100%;
}
.clr{color: black;
margin-bottom: -35px;
font-weight: bold;
font-family: Arial;}

.size0{color:black;
margin-left: 270px;
font-weight: bold;
font-family: Arial;}
.size :hover{background-color: rgba(199, 209, 152, 0.651);}
